* {
  box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li{
    width: max-content;
}

h3{
    margin-bottom: 30px;
}

.display-atividades{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
}

.display-projetos{
    display: flex;
    justify-content: space-between;
}

.display-contatos{
    display: flex;
    justify-content: space-between;
}

.div-margin{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.estilo-div{
    box-shadow: #000000 0px 0px 10px;
}

h3{
    transition: color 2s;
}

.text-bg-light-dark-315{
    background: linear-gradient(315deg,var(--bs-gray) 50%, rgba(0,255,0,1),50%,rgba(255,255,255,0) 0%);
}

.text-bg-light-dark-135{
    background: linear-gradient(135deg, var(--bs-gray) 50%, rgba(0,255,0,1),50%,rgba(255,255,255,0) 0%);
}

.text-bg-orange-yellow-315{
    background: linear-gradient(315deg,yellow 50%, rgba(0,255,0,1),50%,orange 0%);
}

.text-bg-orange-yellow-135{
    background: linear-gradient(315deg,orange 50%, rgba(0,255,0,1),50%,yellow 0%);
}

.text-bg-orange-warning-45{
    background: linear-gradient(45deg, orange 50%, rgba(0,255,0,1),50%,yellow 0%);
}


a{
    text-decoration: none;
}

@media (max-width: 990px){
    .w-50{
        width: 75% !important;
    }
    li{
        width: auto;
    } 
}

@media (max-width: 765px){
    h3{
        text-align: center;
    }
    .w-50{
        width: 100% !important;
    }
    .image-size{
        width: 3em !important;
        border-radius: 50%;
    }
    .display-atividades{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .display-projetos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }

    .display-contatos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: end;
    }
    .display-contatos ol{
        display: flex;
        list-style-type: none;
    }
    .display-contatos ol li{
        margin-right: 20px;
    }

    .display-contatos div{
        margin: 0 0 0 -145px;
    }
    
}

.image-size{
    width: 5em;
    border-radius: 50%;
}

.align-itens{
    align-items: center;
}

nav{
    margin-bottom: 30px;
}

.app-container{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}